body {
    min-width: 700px;;
}

#react-app {
    display: flex;
    justify-content: center;
}

.world-container {
    display: flex;
}

.tips {
    width: 600px;
}

#world {
    border: 1px solid #aaa;
    margin: 20px 20px 20px 0;
    position: relative;
    background-size: 10px 10px;
    background-image: linear-gradient(to right, #f0f0f0 1px, transparent 1px), linear-gradient(to bottom, #f0f0f0 1px, transparent 1px);
    box-shadow: 8px 8px 5px #eee;
}

#ranks{
    margin: 20px 0 0 20px;
    border-collapse: collapse;
    box-shadow: 8px 8px 5px #eee;
}

#ranks th, #ranks, td{
    border: 1px solid #aaa;
    padding: 2px;
}

.pacMan {
    background-color: yellow;
    position: absolute;
    border-radius: 50%;
    opacity: 0.4;
    transition: left 0.05s, top 0.05s;
    box-shadow: 2px 2px 2px #000;
}

.pacMan.current {
    opacity: 1;
}

.pacMan.up {
    outline: 1px double red;
}

.pacMan .name {
    margin-top:-20px;
}

.dot {
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    animation: blinker 1s linear infinite;
    width: 8px !important;
    height:  8px !important;
}

@keyframes blinker {
    50% {
      opacity: 0.4;
    }
  }

.login-panel {
    width: 300px;    
    height: 130px;
    text-align: center;
    background-color: #eee;
    border: 1px solid #aaa;
    padding: 30px 4px;
    box-shadow: 8px 8px 5px rgb(80, 32, 32);
    background-image: linear-gradient(to right, #f0f0f0 1px, transparent 1px), linear-gradient(to bottom, #f0f0f0 1px, transparent 1px);
}

.user-name, .btn {
    height: 35px;
}

.user-name {
    width: 200px;
    text-align: center;
}

.messages {
    height: 200px;
    overflow-y: auto;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0px;
    -webkit-margin-after: 0;
}

.messages li{
    list-style: none;
}

.btn {
    border: 1px solid #aaa;
    margin-top: 6px;
}

.disable {
    opacity: .4;
}